* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    /* will work as a wrapper div */
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}

@font-face {
    font-family: a;
    src: url(jost-variable.ttf);
}

@font-face {
    font-family: b;
    src: url(KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}

@font-face {
    font-family: c;
    src: url(KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#page1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* z-index: -1; */
}

#page1 nav {
    height: 12vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

#page1 nav img {
    width: 14%;
    margin-top: -3vw;
    margin-left: -8vw;
}

#right-page1 button {
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px solid rgb(75, 160, 183);
    color: white;
    /* background-color: #0b48ed; */
    background-color: transparent;
    font-family: a;
    font-size: 13px;
}
#bottom-page {
    position: absolute;
    bottom: 13vh;
    left: 10vw;
    /* background-color: blueviolet; */
    width: 45vw;
    height: 45vh;
    font-family: a;
}

#bottom-page h1 {
    font-size: 6.5vw;
    font-weight: 100;
    line-height: 1;
    color: rgb(255, 255, 255);
}

#bottom-inner {
    margin-top: 45px;
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
}

#bottom-inner h4 {
    font-weight: 100;
    color: white;
}

#bottom-inner button {
    position: absolute;
    right: 10%;
    font-family: a;
    width: 27%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: #0b48ed;
}

#page2 {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: a;
    flex-direction: column;
    color: #fff;
    padding-left: 9vw;
    background-color: #0a3cce;
}

#page2 h4 {
    font-weight: 100;
    font-size: 1.2vw;
    width: 35vw;
    margin-bottom: 5vh;
}

#page2 h1 {
    width: 80vw;
    font-size: 4vw;
    font-weight: 100;
    line-height: 1.3;
    color: #dadada69;
}

#page3 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}

#page3>canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page4 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1137ca;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding-left: 10vw;
    font-family: a;
}

#page4 h4 {
    font-weight: 100;
    padding-bottom: 5vh;
}

#page4 h2 {
    width: 90%;
    font-weight: 100;
    font-size: 4vw;
    line-height: 1.2;
    word-spacing: 1;
    color: #dadada69;
}

#page5 {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page5 canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page6 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1137ca;
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 10vw;
    font-family: a;
}

#page6 h4 {
    font-weight: 100;
    padding-bottom: 5vh;
}

#page6 h2 {
    width: 90%;
    font-weight: 100;
    font-size: 4vw;
    line-height: 1.2;
    word-spacing: 1;
    color: #dadada69;
}

#page7 {
    position: relative;
    background-color: #1137ca;
    height: 100vh;
    width: 100vw;
}

#page7 canvas {
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}

#page7-cir {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    height: 20vw;
    width: 20vw;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
#innerCir {
 height: 70%;
 width: 70%;
 background-color: transparent;
 border-radius: 50%;
 border: 1px solid white;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page8 video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page8-text{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
}
#page8-text h2{
    color: #fff;
    font-weight: 100;
    font-size: 7vw;
}
#page8-text button{
    background-color: #fff;
    color: #0b48ed;
    border-radius: 50px;
    width: 13vw;
    height: 7vh;
    border: none;
    font-family: a;
}
#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    display: flex;
}
#left9{
    position: relative;
    height: 100vh;
    width: 40vw;
}
#right9{
    position: relative;
    height: 100vh;
    width: 60vw;
}
#left9 h3 {
    position: absolute;
    right: 10%;
    bottom: 50%;
    font-size: 7vw;
    font-weight: 100;
    font-family: a;
    line-height: 1;
    color: #fff;
}
#right9 img{
    position: absolute;
    top: 15%;
    height: 75%;
    width: 90%;
    border-radius:3%;
}
#page10 {
    position: relative;
    height: 100vh;
    width: 100vw;
    border-color: #0a3cce;
}
#right10 {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 60%;
}
#T10 {
    position: relative;
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: a;
}
#T10 h2 {
  font-weight: 300;
  margin-bottom: 5px;
}
#T10 h3 {
  font-weight: 100;
  color: #ffffffdc;
  width: 90%;
}

#page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: a;
}
#page11>h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
}
.page11-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.right11{
    padding-top: 5vw;
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}
.right11>h4{
    font-weight: 100;
}
.right11>h1{
    font-size: 2vw;
}
#page12{
    position: relative;
    height: 75vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;
}
#inner12 {
    position: absolute;
    top: 17vh;
    left: 10vw;
}
#inner12 h2 {
    font-weight: 100;
    font-size: 6vw;
    line-height: 1;
}
#inner12 button {
    height: 7.5vh;
    width: 12vw;
    background-color: #0a3cce;
    color: #fff;
    font-family: a;
    border: none;
    border-radius: 50px;
    margin-top: 7vh;
}
#page13 {
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
}
.inner13 {
    height: 33.3%;
    width: 100%;
    background-color: #000;
    border-top: 0.5px solid #ffffff34;
    border-bottom: 0.5px solid #ffffff34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 5vw;
    position: relative;
}
.inner13 h1 {
    font-weight: 100;
    color: #fff;
    z-index: 1;
}
.inner13 i {
    color: #fff;
    font-size: 2vw;
    z-index: 1;
}
.center13{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}
.inner13:hover .center13{
    height: 100%;
}
#page14 {
    position: relative;
    height: 55vh;
    width: 100vw;
    background-color: #000;
    display: flex;
}
#inner14a {
    height: 100%;
    width: 25%;
    color: #fff;
}
#inner14b {
    height: 100%;
    width: 40%;
    color: #fff;
}
#inner14c {
    height: 100%;
    width: 35%;
    color: #fff;
}
#ul1 {
    position: relative;
    left: 10vw;
    top: 10vh;

    font-family: a;
    font-weight: 100;
    font-size: small;
}
#ul1 ul {
    margin-bottom: 2vh;
}
#ul2 {
    font-family: a;
    font-weight: 100;
    font-size: small;
    position: relative;
    left: 10vw;
    top: 20vh;
}
#inner14c h3 {
    font-family: a;
    font-weight: 100;
    margin-bottom: 2vh;
    margin-top: 10vh;
}
#inner14c input {
    background-color: black;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.58);
    width: 60%;
}